.firebase/
firebase-debug.log
.firebaserc
firebase.json

node_modules/
package-lock.json

.env
.env.local
.env.development
.env.test
.env.production

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

dist/
build/
out/

# Logs
*.log
logs/
